.bodyContent1 {
  height: calc(100vh - 45px);
  padding: 45px 0px 0px 0px;
  background-image: url(https://validthemes.net/site-template/farmi/assets/img/banner/8.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 55px;
}
.text h2 {
  color: #ffffffed;
  font-size: 50px;
  font-family: "OxygenRegular";
  margin-left: 15px;
}
.text a {
  text-decoration: none;
}
.text p {
  font-size: 22px;
  color: #ffffffeb;
  font-family: "RobotoLight";
  text-decoration: none;
}
.text span {
  margin-right: 10px;
}
.inner {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}
.content2 {
  background: white;
  height: 350px;
  width: 717px;
  padding: 30px;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 11px gray;
}
.textContent {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: space-around;
}
.textContent h5 {
  font-family: "OxygenRegular";
  font-size: 20px;
  position: relative;
}
.textContent h5::after {
  content: " ";
  display: block;
  position: absolute;
  border-bottom: 4px solid yellow;
  width: 127px;
  height: 2px;
}
.textContent h2 {
  font-family: "OxygenRegular";
  font-size: 36px;
  width: auto;
}
.textContent p {
  font-family: "RobotoLight";
  font-size: 15px;
  line-height: 28px;
  color: gray;
}
.More {
  padding: 0px 20px;
  background: rgb(255 187 0 / 67%);
  height: 50px;
  border-radius: 20px;
  /* line-height: 30px; */
  border: 2px solid #fff3f3a1;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s;
  color: black;
  text-decoration: none;
  font-size: 17px;
}
.More:hover {
  background: rgba(255, 187, 0, 0.894);
  text-decoration: none;
  color: black;
}
.photoConten {
  width: 50%;
  position: relative;
}
.first {
  max-width: 85%;
  margin-left: 50px;
}
.second {
  width: 195px;
  position: absolute;
  right: -97px;
  top: -66px;
  /* padding: 20px; */
  background: #ffff;
  padding: 12px;
  border-radius: 50%;
}
.describ {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 930px) {
  .content2 {
    height: auto;
    width: 70%;
    flex-direction: column;
  }
  .textContent {
    height: auto;
    width: auto;
    line-height: 45px;
    gap: 20px;
  }
  .textContent p {
    font-size: 17px;
  }
  .photoConten {
    margin-top: 55px;
    align-items: center;
    display: flex;
    width: auto;
  }
  .first {
    max-width: 100%;
    margin-left: 0px;
  }
  .second {
    width: 200px;
    right: -29px;
    top: -58px;
  }
  .More {
    width: 127px;
    font-size: 16px;
  }
}
@media screen and (max-width: 640px) {
  .second {
    display: none;
  }
}
